In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
path = "/content/drive/My Drive/CS529"

In [0]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, roc_auc_score, precision_score, recall_score
import xgboost
from xgboost import XGBClassifier
from sklearn.preprocessing import OneHotEncoder 
from sklearn.multiclass import OneVsRestClassifier

In [0]:
y = pd.read_csv(path + '/test_labels.csv')

In [0]:
languages = y['0'].unique()
print(languages)

['en' 'ne' 'bn' 'as' 'amb' 'oth']

In [0]:
idx = 0
for lang in languages:
  y = y.replace(to_replace = lang, value = idx)
  idx = idx + 1

In [0]:
# creating one hot encoder object with categorical feature 0 
# indicating the first column 
onehotencoder = OneHotEncoder(categorical_features = [0]) 
y_t = pd.DataFrame(onehotencoder.fit_transform(y).toarray())

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [0]:
y_t

         0    1    2    3    4    5
0      1.0  0.0  0.0  0.0  0.0  0.0
1      1.0  0.0  0.0  0.0  0.0  0.0
2      1.0  0.0  0.0  0.0  0.0  0.0
3      1.0  0.0  0.0  0.0  0.0  0.0
4      1.0  0.0  0.0  0.0  0.0  0.0
...    ...  ...  ...  ...  ...  ...
47157  0.0  0.0  0.0  1.0  0.0  0.0
47158  0.0  0.0  0.0  1.0  0.0  0.0
47159  0.0  0.0  0.0  1.0  0.0  0.0
47160  0.0  0.0  0.0  1.0  0.0  0.0
47161  0.0  0.0  0.0  1.0  0.0  0.0

[47162 rows x 6 columns]

In [0]:
y_pred = pd.DataFrame()
for i in range(6):
  df = pd.read_csv(path + "/" + str(i)+".csv")
  y_pred[str(i)] = df['0']

In [0]:
y_pred

         0    1    2    3    4    5
0      1.0  0.0  0.0  0.0  0.0  0.0
1      1.0  0.0  0.0  0.0  0.0  0.0
2      1.0  0.0  0.0  0.0  0.0  0.0
3      1.0  0.0  0.0  0.0  0.0  0.0
4      1.0  0.0  0.0  0.0  0.0  0.0
...    ...  ...  ...  ...  ...  ...
47157  0.0  0.0  1.0  0.0  0.0  0.0
47158  0.0  0.0  1.0  0.0  0.0  0.0
47159  0.0  0.0  1.0  0.0  0.0  0.0
47160  0.0  0.0  1.0  0.0  0.0  0.0
47161  0.0  0.0  1.0  0.0  0.0  0.0

[47162 rows x 6 columns]

In [0]:
tr = 0
fa = 0
for i in range(6):
  tr = tr + (y_pred[str(i)] == y_t[i]).value_counts()[True]
  fa = fa + (y_pred[str(i)] == y_t[i]).value_counts()[False]
print("Accuracy = " + str(100*tr/(tr+fa)) + "%")

Accuracy = 88.69075385550514%